.header__social-link {
    padding-left: 0;
    width: 47px;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer;
    transition: transform .2s linear;
}

.header__social-link:hover {
    transform: scale(1.1);
}